<div class="container">
  <h1>Shopping Lists</h1>
  <!-- Show Shopping Lists Toggle -->
  <button ng-click="sLists = !sLists">Select A Name</button>
  <!-- Dropdown Structure -->
  <div id="show-sLists-card" ng-show="sLists">
    <ul>
      <li ng-repeat="sLists in $ctrl.shoppingListEntries">
        <a ng-click="$ctrl.showShoppingList(sLists._id)">
          <h5>{{sLists.title}}</h5>
        </a>
      </li>
    </ul>

  </div>

  <!-- New Shopping List -->
  <button type="submit" ng-click="visible = !visible">Create New List</button>
  <div ng-show="visible">
    <br>
    <form name="newShoppingList" ng-submit="$ctrl.addNewShoppingList()">
      <div>
        <input  type="text" class="validate" ng-model="$ctrl.newShoppingListTitle" required>
        <label for="Title">Title</label>
      </div>  
      <button type="submit" ng-click="visible = !visible" ng-show="true" value="Add New Shopping List"> Submit</button>
    </form>

  </div>
</div>