body {
  background-color: #f5f5dc;
  /* background-color: rgb(153,101,21); */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#show-sLists-card a {
  color: rgba(0,0,0,.7)
}

#show-sLists-card a:hover {
  color: rgba(150,255,200,.7)
}

.paintingContainer img {
  height: 100vh;
  width: 100vw;
  top: 65px;
  z-index: -1;
  position: fixed;
}

nav {
  width: 100vw;
  height: 56px;
  line-height: 56px;
  margin: 0;
  /* background-color: #d63840; */
  background-color: rgb(139,0,0)
  ;
  color: #61b46a;
  z-index: -5; /* hide shadow behind image */
}

.nav-text {
  color: #61b46a;
}

.card-content {
  /* background: rgba(255, 255, 255, 0.3); */
  /* background: rgba(153,101,21, .2); */
  background: rgba(255,250,250,.25);
  z-index: -1;
}

h1 {
  color: rgb(139,0,0);

}