<div class="container">
    
        <h1>Goals</h1>
    
        <div class="card">
            <div class="card-content">
    
                <form ng-submit="$ctrl.addGoal()">
                  <div>Entry: <input type="text" ng-model="$ctrl.newGoalEntry" required></div>
                    <div>Cost: (USD)<input type="number" ng-model="$ctrl.newGoalCost" required></div>
                    <div><input class="btn" type="submit" value="Add to Goals"></div>
                </form>
    
            </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h3>Total Goals</h3>
            <h3><i>{{ $ctrl.totalGoals() | currency}}</i></h3>
          </div>
        </div>

        <div class="card">
            <div class="card-content">
    
                <table>
                    <tr>
                        <th>Goals</th>
                        <th>Cost</th>
                        <th>Date Entered</th>
                        <th></th>
                    </tr>
                    <tr class="row" ng-repeat="goalEntry in $ctrl.goalEntries">
                        <td>{{ goalEntry.entry }}</td>
                        <td>{{ goalEntry.cost | currency }}</td>
                        <td>{{ goalEntry.createdAt | date : 'medium'  }}</td>
                        <td><button class="btn" ng-click="$ctrl.showGoal(goalEntry._id)">View</button></td>
                        <!-- when the delete button is clicked, tell Angular what index in the array to delete -->
                        <!-- and also what the id of the credit is so we can delete it from the database -->
                        <td><button class="btn" ng-click="$ctrl.deleteGoal($index, goalEntry._id)">Delete</button></td>
                    </tr>
                </table>
    
            </div>
        </div>
</div>